* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
select,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: regular;
}
body {
  background-color: #e5e5e5;
}
/* Coloca una camada antes de algo que no caso é esse conteudo vazio */
body::before {
  content: "";
  width: 100%;
  height: 360px;

  position: absolute;
  top: 0;
  left: 0;
  /* seleciona a camada */
  z-index: -1;
  background: #121214;
}
h1 {
  font-family: "Archivo", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Archivo", sans-serif;
  font-weight: semiBold;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 320px;
  height: 160px;
  margin-top: 74px;
}

header h1 {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;

  margin-bottom: 24px;
}

header p {
  font-size: 16px;
  line-height: 26px;
  color: #42d3ff;
}

form {
  margin-top: 38px;
  border-radius: 8px;
  min-height: 300px;
  width: 740px;
  height: 1430px;
  display: flex;
  align-items: center;
  padding: 64px;
  flex-direction: column;
  background-color: #fafafc;
}

fieldset {
  border: none;
  margin-bottom: 48px;
}

fieldset legend {
  color: var(--Texts-Ttulos, #32264d);
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px; /* 141.667% */

  width: 100%;

  border-bottom: 1px solid;
  border-color: #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4958;

  font-size: 14px;
  line-height: 24px;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  color: #c1bccc;

  font-size: 12px;
  line-height: 20px; /* 166.667% */
}

.input-wrapper input {
  border-radius: 8px;
  border: 1px solid var(--Back-Lines-in-white, #e6e6f0);
  background: var(--Shapes-02, #fafafc);

  height: 56px;

  padding: 0 24px;

  color: var(--Texts-Inputs, #c1bccc);
  font-size: 16px;
  line-height: 26px;
}
