* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothign: grayscale;
}

:root {
  font-size: 62.5%;
  --base-font: "Mulish", sans-serif;

  /* Colors */
  --white: #ffffff;
  --light-gray: #f9f4fb;
  --accent-color: #b52184;
  --text-base-color: #312d64;
  --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}

body {
  background: var(--light-gray);
  font-family: var(--base-font);
}

img {
  width: 100%;
}

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
  margin: 1.7rem 0 0.5rem 0;
}

h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 900;
  color: var(--accent-color);
}

h3 {
  font-size: 2.9rem;
  line-height: 3.6rem;
  font-weight: 900;
  color: var(--accent-color);
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--text-base-color);
}

button,
input,
fieldset,
textarea {
  border: none;
  background: none;
  font-family: var(--base-font);
}

.stars {
  display: none;
}

#hero {
  width: 43rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero img {
  margin: 0 3.3rem 1.7rem 3.3rem;
}

#hero .hero-cta p {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--text-base-color);
  margin-bottom: 3.5rem;
}

#hero .hero-cta .button-down {
  width: 5.8rem;
  height: 10.5rem;
  border-radius: 76rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: filter 300ms;
}

#hero .hero-cta .button-down:hover {
  filter: brightness(0.7);
}

/* Cards Section */
#cards {
  width: 100%;
  height: 100%;
  background: var(--gradient-background);
  padding: 5.3rem 3.9rem 5.5rem;
  display: grid;
  gap: 4.9rem;
}

#card {
  width: 100%;
  height: 100%;

  background-color: #fff;

  padding: 2.6rem;

  border-radius: 1.99rem;
}

#cards #card img {
  width: 8rem;

  margin-bottom: 3.3rem;
}

#cards #card .card-text {
  width: 26.5rem;
}

#contact {
  background: var(--white);

  width: 100%;
  height: 100%;

  padding: 7.8rem 3.9rem 6.5rem;
}

#contact form h2 {
  margin-bottom: 4.3rem;
}

#contact form .input-wrapper {
  width: 100%;

  margin-bottom: 2.4rem;
}

#contact form .input-wrapper input,
#contact form .input-wrapper textarea {
  padding: 1.2rem 1.6rem;

  border-radius: 1.6rem;
}
