/* Estilização base da página, sendo aplicada em todo o corpo da página */
body{
font-family: 'Open Sans', sans-serif;
text-align: center;
}
/* Estilização do bloco com id = hero */
#hero{
  width: 592px;
  margin: auto;
}
/* Estilização do cabeçalho, se aplica a todos os cabeçalhs do código */
h1{
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px; /* 114.286% */
font-weight: normal;
}
/* Estilização do span dentro do cabeçalho */
h1 span {
  font-weight: bold;
}

/* estilização do span, se aplica a todos */
span{
  color: #ff9900;
}

/* estilização do p, se aplica a todos */

p{
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
}
/* estilização do a, se aplica a todos */
a{
  color: #F90;
  text-decoration-line: underline;
}