body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
}

main {
  background: #ffffff;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  width: 425px;
  height: 200px;
}
